/* mobile first desgin */
/* Start of update section */
.back-img {
  background-image: url(../img/Group\ 960.svg);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}
.holder {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-card {
  height: 600px;
  border-radius: var(--card-radios);
  -webkit-border-radius: var(--card-radios);
  -moz-border-radius: var(--card-radios);
  -ms-border-radius: var(--card-radios);
  -o-border-radius: var(--card-radios);
  background-color: var(--white-color);
}
.holder .main-card h2,
.form-label,
label {
  color: #000;
}
.holder .main-card h2 {
  font-size: 35px;
  line-height: inherit;
  text-align: center;
  font-weight: normal;
  margin-top: var(--card-head-margin);
  margin-bottom: var(--card-head-margin);
}
.holder .main-card form {
  width: 90%;
  margin: auto;
}
.holder .main-card form button {
  color: var(--white-color);
  background-color: var(--main-Bg-color);
  width: 100%;
  margin-top: 50px;
}
.main-card form button,
.main-card form input {
  border-radius: var(--input-btn-radios);
  -webkit-border-radius: var(--input-btn-radios);
  -moz-border-radius: var(--input-btn-radios);
  -ms-border-radius: var(--input-btn-radios);
  -o-border-radius: var(--input-btn-radios);
}
.main-card form button:hover {
  color: var(--white-color);
  background-color: var(--bt-color);
  transition: 0.5s;
}
/* new password and code confirm password part */
.card-img {
  display: block;
  margin: auto;
  width: 60px;
  height: 60px;
  margin-bottom: 50px;
}
/* new password and code confirm password part */
/* Small devices max-width */
@media (max-width: 576px) {
  .main-card {
    width: 90%;
  }
}
/* Small devices max-width */
/* Small devices main-width */
@media (min-width: 576px) {
  .main-card {
    width: 410px;
  }
}
/* Small devices main-width */
/*  Medium  devices such as ipad and tablet  */
@media (min-width: 768px) {
  .main-card {
    width: 410px;
  }
}
/*  larg and X-Large  devices  */
@media (min-width: 1200px) {
  .card-head {
    font-size: 40px;
  }
  .form-syle {
    width: 90%;
  }
  .form-label {
    font-size: 16px;
  }
  .form-control {
    font-size: 14px;
    line-height: 1.5;
  }
  .btn {
    line-height: 1.5;
    font-size: 18px;
  }
}
/* end of update section */
/* Start of main page of fourm */
/* Start of header */
.full-header .container .content img {
  width: 168px;
}
@media (min-width: 768px) {
  .full-header .container .content img {
    width: 220px;
  }
}

/* End of header */
.container .card-holder .prj-card img {
  max-width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.container .card-holder .prj-card p {
  color: var(--white-color);
  font-size: var(--main-f-size);
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 5px;
}
.prj-card {
  max-width: 100%;
  margin-bottom: 5px;
}
/* End of header */
/* Start of fourm post */
.container .cards {
  margin-bottom: 16px;
}
.cards .card-body {
  background-color: var(--secondary-Bg-color);
  border: var(--border);
  border-radius: var(--card-radios);
  -webkit-border-radius: var(--card-radios);
  -moz-border-radius: var(--card-radios);
  -ms-border-radius: var(--card-radios);
  -o-border-radius: var(--card-radios);
}
.cards .card-body .subject {
  font-size: 36px;
}
.cards .card-body .text {
  padding: 16px;
  margin: 0;
  border: var(--border);
  border-radius: var(--card-radios);
  -webkit-border-radius: var(--card-radios);
  -moz-border-radius: var(--card-radios);
  -ms-border-radius: var(--card-radios);
  -o-border-radius: var(--card-radios);
}
.cards .card-body .comment {
  margin-top: 16px;
}
.cards .card-body .comment a {
  text-decoration: none;
  color: var(--white-color);
}
.row .create {
  text-decoration: none;
  border: var(--border);
  border-radius: var(--card-radios);
  background-color: var(--bt-color);
  color: #fff;
  text-align: center;
  position: fixed;
  left: 54%;
  bottom: 20px;
  width: 42%;
  padding: 10px;
}
@media (min-width: 576px) {
  .row .create {
    left: 64%;
    width: 26%;
  }
}
@media (min-width: 768px) {
  .row .create {
    left: 74%;
    width: 22%;
  }
}
@media (min-width: 992px) {
  .row .create {
    left: 79%;
    width: 12%;
  }
}
/* End of fourm post */
/* Start of fourm comment */
.cards .card-body .btn {
  display: block;
  width: 20%;
  margin-top: 16px;
}

/* End of fourm comment */
